urxvt*foreground: white
urxvt*background: black
URxvt.font: xft:Inconsolata Nerd Font Mono:size=11
URxvt*scrollBar:false
URxvt.perl-ext-common: font-size,eval
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*transparent: true
URxvt*shading: 20
URxvt*lineSpace: 2
URxvt*letterSpace: 0

! special
*.foreground:   #9aa4bd
*.background:   #1b202a
*.cursorColor:  #1b202a

! black
*.color0:       #1b202a
*.color8:       #232936

! red
*.color1:       #b15e7c
*.color9:       #b3785d

! green
*.color2:       #709d6c
*.color10:      #709d6c

! yellow
*.color3:       #b5a262
*.color11:      #d5b875

! blue
*.color4:       #608cc3
*.color12:      #608cc3

! purple
*.color5:       #8f72bf
*.color13:      #c47ebd

! cyan
*.color6:       #56adb7
*.color14:      #51617d

! white
*.color7:       #323c4d
*.color15:      #9aa7bd

st.termname: st-256color
st.shell: /bin/zsh
st.borderpx: 5
st.font: Inconsolata Nerd Font Mono:pixelsize=14:antialias=true:autohint:true;
st.cursorshape: 2
st.xfps: 120
st.cwscale: 1.1
st.chscale: 1.1
/* st.opacity: 230 */
Xft.dpi:        96.1259765625
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault
Xcursor.theme:  DMZ-Black
Xcursor.size:   24
